﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jenkins POC</h1>
    <p class="lead">Welcome to the home page of the web application for POC</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tools Used</h2>
        <p>
            Jenkins for CI and CD<br>Sonarqube for SCA<br />Bitbucket Repository
        </p>
        
    </div>
   
</div>